@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--Regular);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/static/Montserrat-SemiBold.ttf");
}

/*VARIABLES*/

:root {
  --Regular: Montserrat-Regular;
  --SemiBold: Montserrat-SemiBold;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 3fr;
  grid-template-areas:
    "cab"
    "pro"
    "pro2"
    "alu";
  background-color: lightcyan;
  background-image: url("");
  background-color: rgb(255, 255, 255);
}

#cabecera {
  grid-area: cab;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  border-radius: 25%;
  justify-self: center;
}

#profesores {
  grid-area: pro;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

#profesores2 {
  grid-area: pro2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}

#alumnos {
  grid-area: alu;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.circle-video {
  box-shadow: 1px -2px 15px 5px #4de7ef;
  border-radius: 60%;
  margin: 1em;
  height: 50%;
  width: 50%;
}

#cabecera span {
  text-align: center;
  font-size: 2em;
  margin-left: 1%;
  margin-top: 10%;
}
